interactions:
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/tensorflow-feedstock/pulls/473
    response:
      body:
        string:
          '{"url":"https://api.github.com/repos/conda-forge/tensorflow-feedstock/pulls/473","id":3257385764,"node_id":"PR_kwDOAyfsjc7CJ8Mk","html_url":"https://github.com/conda-forge/tensorflow-feedstock/pull/473","diff_url":"https://github.com/conda-forge/tensorflow-feedstock/pull/473.diff","patch_url":"https://github.com/conda-forge/tensorflow-feedstock/pull/473.patch","issue_url":"https://api.github.com/repos/conda-forge/tensorflow-feedstock/issues/473","number":473,"state":"open","locked":false,"title":"Rebuild
          for libabseil 20260107, libgrpc 1.78 & libprotobuf 6.33.5","user":{"login":"regro-cf-autotick-bot","id":36490558,"node_id":"MDQ6VXNlcjM2NDkwNTU4","avatar_url":"https://avatars.githubusercontent.com/u/36490558?v=4","gravatar_id":"","url":"https://api.github.com/users/regro-cf-autotick-bot","html_url":"https://github.com/regro-cf-autotick-bot","followers_url":"https://api.github.com/users/regro-cf-autotick-bot/followers","following_url":"https://api.github.com/users/regro-cf-autotick-bot/following{/other_user}","gists_url":"https://api.github.com/users/regro-cf-autotick-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/regro-cf-autotick-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/regro-cf-autotick-bot/subscriptions","organizations_url":"https://api.github.com/users/regro-cf-autotick-bot/orgs","repos_url":"https://api.github.com/users/regro-cf-autotick-bot/repos","events_url":"https://api.github.com/users/regro-cf-autotick-bot/events{/privacy}","received_events_url":"https://api.github.com/users/regro-cf-autotick-bot/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"This
          PR has been triggered in an effort to update [**absl_grpc_proto_26q1**](https://conda-forge.org/status/migration/?name=absl_grpc_proto_26q1).\n\nNotes
          and instructions for merging this PR:\n1. Please merge the PR only after the
          tests have passed. \n2. Feel free to push to the bot''s branch to update this
          PR if needed. \n\n**Please note that if you close this PR we presume that
          the feedstock has been rebuilt, so if you are going to perform the rebuild
          yourself don''t close this PR until the your rebuild has been merged.**\n\n<hr>\n\nIf
          this PR was opened in error or needs to be updated please add the `bot-rerun`
          label to this PR. The bot will close this PR and schedule another one. If
          you do not have permissions to add this label, you can use the phrase <code>@<space/>conda-forge-admin,
          please rerun bot</code> in a PR comment to have the `conda-forge-admin` add
          it for you.\n\n<sub>This PR was created by the [regro-cf-autotick-bot](https://github.com/regro/cf-scripts).
          The **regro-cf-autotick-bot** is a service to automatically track the dependency
          graph, migrate packages, and propose package version updates for conda-forge.
          Feel free to drop us a line if there are any [issues](https://github.com/regro/cf-scripts/issues)!
          This PR was generated by https://github.com/regro/cf-scripts/actions/runs/21777392424
          - please use this URL for debugging.</sub>","created_at":"2026-02-07T09:08:08Z","updated_at":"2026-02-08T03:18:25Z","closed_at":null,"merged_at":null,"merge_commit_sha":"ae66646e1ddd1b59537877aab968e75f6286b787","assignees":[],"requested_reviewers":[{"login":"xhochy","id":70274,"node_id":"MDQ6VXNlcjcwMjc0","avatar_url":"https://avatars.githubusercontent.com/u/70274?v=4","gravatar_id":"","url":"https://api.github.com/users/xhochy","html_url":"https://github.com/xhochy","followers_url":"https://api.github.com/users/xhochy/followers","following_url":"https://api.github.com/users/xhochy/following{/other_user}","gists_url":"https://api.github.com/users/xhochy/gists{/gist_id}","starred_url":"https://api.github.com/users/xhochy/starred{/owner}{/r[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/tensorflow-feedstock/commits/156924b99ec14a5789409b042fb9b63869eb4912/check-runs?page=1&per_page=100
    response:
      body:
        string: "{\"total_count\":5,\"check_runs\":[{\"id\":62871469757,\"name\":\"\
          Cirun\",\"node_id\":\"CR_kwDOAyfsjc8AAAAOo25-vQ\",\"head_sha\":\"156924b99ec14a5789409b042fb9b63869eb4912\"\
          ,\"external_id\":\"\",\"url\":\"https://api.github.com/repos/conda-forge/tensorflow-feedstock/check-runs/62871469757\"\
          ,\"html_url\":\"https://github.com/conda-forge/tensorflow-feedstock/runs/62871469757\"\
          ,\"details_url\":\"https://cirun.io\",\"status\":\"completed\",\"conclusion\"\
          :\"success\",\"started_at\":\"2026-02-08T03:20:32Z\",\"completed_at\":\"2026-02-08T03:20:32Z\"\
          ,\"output\":{\"title\":\"Cirun.io: Managed self-hosted GitHub Actions runners\
          \ on your cloud.\",\"summary\":\"This commit triggered an action on [Cirun.io](https://cirun.io)\\\
          n## Runner(s)\\n| Runner Name | Image | Region | Cloud | Connected | Preemptible\
          \ | Ephemeral |\\n| ----------- | ----------- | ----------- | -----------\
          \ | ----------- | ----------- | ----------- |\\n| [cirun-conda-forge--tensorflow-feedstock-cadc47c9a7](https://github.com/conda-forge/tensorflow-feedstock/actions/runs/21791427239/job/62871362407)\
          \ | ubuntu-2404-cpu-20260128-075334 [...]
[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/tensorflow-feedstock/actions/jobs/62871362407/logs
    response:
      body:
        string: ""
      headers:
        Location:
          - https://productionresultssa17.blob.core.windows.net/actions-results/0536edd3-266f-4f65-a043-a8aebc507e41/workflow-job-run-0cb65a44-63c5-58fe-8e9a-db1a84c6d22a/logs/job/job-logs.txt?rsct=text%2Fplain&se=2026-03-12T14%3A49%3A46Z&sig=REDACTED&ske=2026-03-12T17%3A31%3A48Z&skoid=ca7593d4-ee42-46cd-af88-8b886a2f84eb&sks=b&skt=2026-03-12T13%3A31%3A48Z&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skv=2025-11-05&sp=r&spr=https&sr=b&st=2026-03-12T14%3A39%3A41Z&sv=2025-11-05
      status:
        code: 302
        message: Found
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://productionresultssa17.blob.core.windows.net/actions-results/0536edd3-266f-4f65-a043-a8aebc507e41/workflow-job-run-0cb65a44-63c5-58fe-8e9a-db1a84c6d22a/logs/job/job-logs.txt?rsct=text%2Fplain&se=2026-03-12T14%3A49%3A46Z&sig=REDACTED&ske=2026-03-12T17%3A31%3A48Z&skoid=ca7593d4-ee42-46cd-af88-8b886a2f84eb&sks=b&skt=2026-03-12T13%3A31%3A48Z&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skv=2025-11-05&sp=r&spr=https&sr=b&[...]
[...]
