interactions:
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/tensorflow-feedstock/pulls/474
    response:
      body:
        string:
          '{"url":"https://api.github.com/repos/conda-forge/tensorflow-feedstock/pulls/474","id":3282814833,"node_id":"PR_kwDOAyfsjc7Dq8dx","html_url":"https://github.com/conda-forge/tensorflow-feedstock/pull/474","diff_url":"https://github.com/conda-forge/tensorflow-feedstock/pull/474.diff","patch_url":"https://github.com/conda-forge/tensorflow-feedstock/pull/474.patch","issue_url":"https://api.github.com/repos/conda-forge/tensorflow-feedstock/issues/474","number":474,"state":"open","locked":false,"title":"Update
          to 2.20","user":{"login":"isuruf","id":5234427,"node_id":"MDQ6VXNlcjUyMzQ0Mjc=","avatar_url":"https://avatars.githubusercontent.com/u/5234427?v=4","gravatar_id":"","url":"https://api.github.com/users/isuruf","html_url":"https://github.com/isuruf","followers_url":"https://api.github.com/users/isuruf/followers","following_url":"https://api.github.com/users/isuruf/following{/other_user}","gists_url":"https://api.github.com/users/isuruf/gists{/gist_id}","starred_url":"https://api.github.com/users/isuruf/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/isuruf/subscriptions","organizations_url":"https://api.github.com/users/isuruf/orgs","repos_url":"https://api.github.com/users/isuruf/repos","events_url":"https://api.github.com/users/isuruf/events{/privacy}","received_events_url":"https://api.github.com/users/isuruf/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"<!--\r\nThank
          you for your pull request.\r\nBelow are a few things we ask you kindly to
          self-check before getting a review. Remove checks that are not relevant.\r\n-->\r\nChecklist\r\n*
          [ ] Used a [personal fork of the feedstock to propose changes](https://conda-forge.org/docs/maintainer/updating_pkgs.html#forking-and-pull-requests)\r\n*
          [ ] Bumped the build number (if the version is unchanged)\r\n* [ ] Reset the
          build number to `0` (if the version changed)\r\n* [ ] [Re-rendered]( https://conda-forge.org/docs/maintainer/updating_pkgs.html#rerendering-feedstocks
          ) with the latest `conda-smithy` (Use the phrase <code>@<space/>conda-forge-admin,
          please rerender</code> in a comment in this PR for automated rerendering)\r\n*
          [ ] Ensured the license file is being packaged.\r\n\r\n<!--\r\nPlease note
          any issues this fixes using [closing keywords]( https://help.github.com/articles/closing-issues-using-keywords/
          ):\r\n-->\r\n\r\n<!--\r\nPlease add any other relevant info below:\r\n-->\r\n","created_at":"2026-02-13T21:35:13Z","updated_at":"2026-03-05T23:03:37Z","closed_at":null,"merged_at":null,"merge_commit_sha":"e6448a2ee77d62ca7008bcc3b09d900388bc0e66","assignees":[],"requested_reviewers":[{"login":"xhochy","id":70274,"node_id":"MDQ6VXNlcjcwMjc0","avatar_url":"https://avatars.githubusercontent.com/u/70274?v=4","gravatar_id":"","url":"https://api.github.com/users/xhochy","html_url":"https://github.com/xhochy","followers_url":"https://api.github.com/users/xhochy/followers","following_url":"https://api.github.com/users/xhochy/following{/other_user}","gists_url":"https://api.github.com/users/xhochy/gists{/gist_id}","starred_url":"https://api.github.com/users/xhochy/starred{/owner}{/r[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/tensorflow-feedstock/pulls/474/files?page=1&per_page=100
    response:
      body:
        string: "[{\"sha\":\"f03500d892bcf6dd8f165895db31cfbf0e358f27\",\"filename\"\
          :\"recipe/build_common.sh\",\"status\":\"modified\",\"additions\":0,\"deletions\"\
          :2,\"changes\":2,\"blob_url\":\"https://github.com/conda-forge/tensorflow-feedstock/blob/43ba82667eb0378485eac50d928dde7b0e11784b/recipe%2Fbuild_common.sh\"\
          ,\"raw_url\":\"https://github.com/conda-forge/tensorflow-feedstock/raw/43ba82667eb0378485eac50d928dde7b0e11784b/recipe%2Fbuild_common.sh\"\
          ,\"contents_url\":\"https://api.github.com/repos/conda-forge/tensorflow-feedstock/contents/recipe%2Fbuild_common.sh?ref=43ba82667eb0378485eac50d928dde7b0e11784b\"\
          ,\"patch\":\"@@ -70,8 +70,6 @@ export TF_SYSTEM_LIBS=\\\"\\n   snappy\\n \
          \  zlib\\n   \\\"\\n-sed -i -e \\\"s/GRPCIO_VERSION/${libgrpc}/\\\" tensorflow/tools/pip_package/setup.py\\\
          n-sed -i -e \\\"s/<6.0.0dev/<7.0.0dev/g\\\" tensorflow/tools/pip_package/setup.py\\\
          n \\n # do not build with MKL support\\n export TF_NEED_MKL=0\"},{\"sha\"\
          :\"dc4b17befc0958fdec39d2c4f739eacea58b9588\",\"filename\":\"recipe/meta.yaml\"\
          ,\"status\":\"modified\",\"additions\":44,\"deletions\":53,\"changes\":97,\"\
          blob_url\":\"https://github.com/conda-forge/tensorflow-feedstock/blob/43ba82667eb0378485eac50d928dde7b0e11784b/recipe%2Fmeta.yaml\"\
          ,\"raw_url\":\"https://github.com/conda-forge/tensorflow-feedstock/raw/43ba82667eb0378485eac50d928dde7b0e11784b/recipe%2Fmeta.yaml\"\
          ,\"contents_url\":\"https://api.github.com/repos/conda-forge/tensorflow-feedstock/contents/recipe%2Fmeta.yaml?ref=43ba82667eb0378485eac50d928dde7b0e11784b\"\
          ,\"patch\":\"[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/isuruf/tensorflow-feedstock/contents/recipe/meta.yaml?ref=2.20
    response:
      body:
        string: '{"name":"meta.yaml","path":"recipe/meta.yaml","sha":"dc4b17befc0958fdec39d2c4f739eacea58b9588","size":28496,"url":"https://api.github.com/repos/isuruf/tensorflow-feedstock/contents/recipe/meta.yaml?ref=2.20","html_url":"https://github.com/isuruf/tensorflow-feedstock/blob/2.20/recipe/meta.yaml","git_url":"https://api.github.com/repos/isuruf/tensorflow-feedstock/git/blobs/dc4b17befc0958fdec39d2c4f739eacea58b9588","download_url":"https://raw.githubusercontent.com/isuruf/tensorflow-feedstock/2.20/recipe/meta.yaml","type":"file","content":"eyUgc2V0IHZlcnNpb24gPSAiMi4yMC4wIiAlfQp7JSBzZXQgZXN0aW1hdG9y\nX3ZlcnNpb24gPSAiMi4xNS4wIiAlfQp7JSBzZXQgYnVpbGQgPSAwICV9Cgp7\nJSBpZiBjdWRhX2NvbXBpbGVyX3ZlcnNpb24gIT0gIk5vbmUiICV9CnslIHNl\ndCBidWlsZCA9IGJ1aWxkICsgMjAwICV9CnslIGVuZGlmICV9Cgp7JSBpZiBt\naWNyb2FyY2hfbGV2ZWwgaXMgdW5kZWZpbmVkICV9CnslIHNldCBtaWNyb2Fy\nY2hfbGV2ZWwgPSAiMSIgJX0KeyUgZW5kaWYgJX0KCnslIHNldCBidWlsZCA9\nIGJ1aWxkICsgMjUqKG1pY3JvYXJjaF9sZXZlbCB8IGludCAtIDEpICV9Cgoj\nIFF1aXRlIG9mdGVuIGxpYm1sX2R0eXBlcy1oZWFkZXJzIGFuZCBtbF9kdHlw\nZXM[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/tensorflow-feedstock/commits/43ba82667eb0378485eac50d928dde7b0e11784b/check-runs?page=1&per_page=100
    response:
      body:
        string: "{\"total_count\":6,\"check_runs\":[{\"id\":63582489145,\"name\":\"\
          Cirun\",\"node_id\":\"CR_kwDOAyfsjc8AAAAOzc_KOQ\",\"head_sha\":\"43ba82667eb0378485eac50d928dde7b0e11784b\"\
          ,\"external_id\":\"\",\"url\":\"https://api.github.com/repos/conda-forge/tensorflow-feedstock/check-runs/63582489145\"\
          ,\"html_url\":\"https://github.com/conda-forge/tensorflow-feedstock/runs/63582489145\"\
          ,\"details_url\":\"https://cirun.io\",\"status\":\"completed\",\"conclusion\"\
          :\"success\",\"started_at\":\"2026-02-13T21:39:12Z\",\"completed_at\":\"2026-02-13T21:39:12Z\"\
          ,\"output\":{\"title\":\"Cirun.io: Managed self-hosted GitHub Actions runners\
          \ on your cloud.\",\"summary\":\"This commit triggered an action on [Cirun.io](https://cirun.io)\\\
          n## Runner(s)\\n| Runner Name | Image | Region | Cloud | Connected | Preemptible\
          \ | Ephemeral |\\n| ----------- | ----------- | ----------- | -----------\
          \ | ----------- | ----------- | ----------- |\\n| [cirun-conda-forge--tensorflow-feedstock-5e65f95040](https://github.com/conda-forge/tensorflow-feedstock/actions/runs/22003649046/job/63582174021)\
          \ | ubuntu-2404-cpu-20260128-075334 [...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/tensorflow-feedstock/actions/jobs/63582173967/logs
    response:
      body:
        string: ""
      headers:
        Location:
          - https://productionresultssa15.blob.core.windows.net/actions-results/6048d42b-38c6-48f4-b2b8-f644ff683df0/workflow-job-run-2386a1cb-eef9-50de-81f9-fcb6ee0a706d/logs/job/job-logs.txt?rsct=text%2Fplain&se=2026-03-12T13%3A46%3A27Z&sig=REDACTED&ske=2026-03-12T17%3A31%3A42Z&skoid=ca7593d4-ee42-46cd-af88-8b886a2f84eb&sks=b&skt=2026-03-12T13%3A31%3A42Z&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skv=2025-11-05&sp=r&spr=https&sr=b&st=2026-03-12T13%3A36%3A22Z&sv=2025-11-05
      status:
        code: 302
        message: Found
[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://productionresultssa15.blob.core.windows.net/actions-results/6048d42b-38c6-48f4-b2b8-f644ff683df0/workflow-job-run-2386a1cb-eef9-50de-81f9-fcb6ee0a706d/logs/job/job-logs.txt?rsct=text%2Fplain&se=2026-03-12T13%3A46%3A27Z&sig=REDACTED&ske=2026-03-12T17%3A31%3A42Z&skoid=ca7593d4-ee42-46cd-af88-8b886a2f84eb&sks=b&skt=2026-03-12T13%3A31%3A42Z&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skv=2025-11-05&sp=r&spr=https&sr=b&[...]
[...]
