interactions:
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/jaxlib-feedstock/pulls/336
    response:
      body:
        string:
          '{"url":"https://api.github.com/repos/conda-forge/jaxlib-feedstock/pulls/336","id":3200957495,"node_id":"PR_kwDOC7vges6-yrw3","html_url":"https://github.com/conda-forge/jaxlib-feedstock/pull/336","diff_url":"https://github.com/conda-forge/jaxlib-feedstock/pull/336.diff","patch_url":"https://github.com/conda-forge/jaxlib-feedstock/pull/336.patch","issue_url":"https://api.github.com/repos/conda-forge/jaxlib-feedstock/issues/336","number":336,"state":"open","locked":false,"title":"jaxlib
          v0.9.0","user":{"login":"regro-cf-autotick-bot","id":36490558,"node_id":"MDQ6VXNlcjM2NDkwNTU4","avatar_url":"https://avatars.githubusercontent.com/u/36490558?v=4","gravatar_id":"","url":"https://api.github.com/users/regro-cf-autotick-bot","html_url":"https://github.com/regro-cf-autotick-bot","followers_url":"https://api.github.com/users/regro-cf-autotick-bot/followers","following_url":"https://api.github.com/users/regro-cf-autotick-bot/following{/other_user}","gists_url":"https://api.github.com/users/regro-cf-autotick-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/regro-cf-autotick-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/regro-cf-autotick-bot/subscriptions","organizations_url":"https://api.github.com/users/regro-cf-autotick-bot/orgs","repos_url":"https://api.github.com/users/regro-cf-autotick-bot/repos","events_url":"https://api.github.com/users/regro-cf-autotick-bot/events{/privacy}","received_events_url":"https://api.github.com/users/regro-cf-autotick-bot/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"It
          is very likely that the current package version for this feedstock is out
          of date.\n\nChecklist before merging this PR:\n- [ ] Dependencies have been
          updated if changed: see [upstream](http://github.com/jax-ml/jax)\n- [ ] Tests
          have passed \n- [ ] Updated license if changed and `license_file` is packaged
          \n\nInformation about this PR:\n1. Feel free to push to the bot''s branch
          to update this PR if needed.\n2. The bot will almost always only open one
          PR per version.\n3. The bot will stop issuing PRs if more than 3 version bump
          PRs generated by the bot are open. If you don''t want to package a particular
          version please close the PR.\n4. If you want these PRs to be merged automatically,
          make an issue with <code>@conda-forge-admin,</code>`please add bot automerge`
          in the title and merge the resulting PR. This command will add our bot automerge
          feature to your feedstock.\n5. If this PR was opened in error or needs to
          be updated please add the `bot-rerun` label to this PR. The bot will close
          this PR and schedule another one. If you do not have permissions to add this
          label, you can use the phrase <code>@<space/>conda-forge-admin, please rerun
          bot</code> in a PR comment to have the `conda-forge-admin` add it for you.\n\nCloses:
          #327\nCloses: #332\nCloses: #335\n\nPending Dependency Version Updates\n--------------------\n\nHere
          is a list of all the pending dependency version updates for this repo. Please
          double check all dependencies before merging.\n\n| Name | Upstream Version
          | Current Version |\n|:----:|:----------------:|:---------------:|\n|bazel|9.0.0|[![Anaconda-Server
          Badge](https://img.shields.io/conda/vn/conda-forge/bazel.svg)](https://anaconda.org/conda-forge/bazel)|\n|nccl|4py-v0.1.1|[![Anaconda-Server
          Badge](https://img.shields.io/conda/vn/conda-forge/nccl.svg)](https://anaconda.org/conda-forge/nccl)|\n|wheel|0.46.3|[![Anaconda-Server
          Badge](https://img.shields.io/conda/vn/conda-forge/wheel.svg)](https://anaconda.org/conda-forge/wheel)|\n\n\n<sub>This
          PR was created by the [regro-cf-autotick-bot](https://github.com/regro/cf-scripts).
          The **regro-cf-autotick-bot** is a service to automatically track the dependency
          graph, migrate packages, and propose package version updates for conda-forge.
          Feel free to drop us a line if there are any [issues](https://github.com/regro/cf-scripts/issues)!
          This PR was generated by https://github.com/regro/cf-scripts/actions/runs/21264067160
          - please use this URL for debugging.</sub>","created_at":"2026-01-22T21:02:18Z","updated_at":"2026-03-09T16:20:10Z","closed_at":null,"merged_at":null,"merge_commit_sha":"8d49d715d1e6c8285408dd06bf5ab26d3edc3171","assignees":[],"requested_reviewers":[{"login":"xhochy","id":70274,"node_id":"MDQ6VXNlcjcwMjc0","avatar_url":"https://avatars.githubusercontent.com/u/70274?v=4","gravatar_id":"","url":"https://api.github.com/users/xhochy","html_url":"https://github.com/xhochy","followers_url":"https://api.github.com/users/xhochy/followers","following_url":"https://api.github.com/users/xhochy/following{/other_user}","gists_url":"https://api.github.com/users/xhochy/gists{/gist_id}","starred_url":"https://api.github.com/users/xhochy/starred{/owner}{/r[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/jaxlib-feedstock/pulls/336/files?page=1&per_page=100
    response:
      body:
        string:
          '[{"sha":"47749e4c7d458798600beb1d05c85341a3147e12","filename":".azure-pipelines/azure-pipelines-osx.yml","status":"modified","additions":3,"deletions":19,"changes":22,"blob_url":"https://github.com/conda-forge/jaxlib-feedstock/blob/73c732d64c89c6295185f8c7809079a0cf01741c/.azure-pipelines%2Fazure-pipelines-osx.yml","raw_url":"https://github.com/conda-forge/jaxlib-feedstock/raw/73c732d64c89c6295185f8c7809079a0cf01741c/.azure-pipelines%2Fazure-pipelines-osx.yml","contents_url":"https://api.github.com/repos/conda-forge/jaxlib-feedstock/contents/.azure-pipelines%2Fazure-pipelines-osx.yml?ref=73c732d64c89c6295185f8c7809079a0cf01741c","patch":"@@
          -5,33 +5,17 @@\n jobs:\n - job: osx\n   pool:\n-    vmImage: macOS-15\n+    vmImage:
          $(VMIMAGE)\n   strategy:\n     matrix:\n       osx_64_python3.11.____cpython:\n         CONFIG:
          osx_64_python3.11.____cpython\n         UPLOAD_PACKAGES: ''True''\n-      osx_64_python3.12.____cpython:\n-        CONFIG:
          osx_64_python3.12.____cpython\n-        UPLOAD_PACKAGES: ''True''\n-      osx_64_python3.13.____cp313:\n-        CONFIG:
          osx_64_python3.13.___[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/regro-cf-autotick-bot/jaxlib-feedstock/contents/recipe/recipe.yaml?ref=0.9.0_hdc7e77
    response:
      body:
        string: '{"name":"recipe.yaml","path":"recipe/recipe.yaml","sha":"e254bb421382fd061aef48f44e2aa29f3d0e653f","size":3865,"url":"https://api.github.com/repos/regro-cf-autotick-bot/jaxlib-feedstock/contents/recipe/recipe.yaml?ref=0.9.0_hdc7e77","html_url":"https://github.com/regro-cf-autotick-bot/jaxlib-feedstock/blob/0.9.0_hdc7e77/recipe/recipe.yaml","git_url":"https://api.github.com/repos/regro-cf-autotick-bot/jaxlib-feedstock/git/blobs/e254bb421382fd061aef48f44e2aa29f3d0e653f","download_url":"https://raw.githubusercontent.com/regro-cf-autotick-bot/jaxlib-feedstock/0.9.0_hdc7e77/recipe/recipe.yaml","type":"file","content":"c2NoZW1hX3ZlcnNpb246IDEKCmNvbnRleHQ6CiAgdmVyc2lvbjogIjAuOS4w\nIgogIGJ1aWxkOiAwCgpwYWNrYWdlOgogIG5hbWU6IGpheGxpYgogIHZlcnNp\nb246ICR7eyB2ZXJzaW9uIH19Cgpzb3VyY2U6CiAgIyBvbmx5IHB1bGwgc291\ncmNlcyBhZnRlciB1cHN0cmVhbSBQeVBJIHJlbGVhc2UuLi4KICB1cmw6IGh0\ndHBzOi8vZ2l0aHViLmNvbS9qYXgtbWwvamF4L2FyY2hpdmUvamF4LXYke3sg\ndmVyc2lvbiB9fS50YXIuZ3oKICBzaGEyNTY6IDg1MjVjNzJhYzdlYTAxODUx\nMjk3ZGY1YjI1Y2E0NjIyYzY1Mjk5YzI2NWM4N2RmZTc4NDIwYmIyOWU3YjFi\nYjMKICBwYXRjaGVzOgogICAgLSBwYXRjaGVzLzAwMDEtQWxsb3ctZm9yLWN1\nc3R[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/jaxlib-feedstock/commits/73c732d64c89c6295185f8c7809079a0cf01741c/check-runs?page=1&per_page=100
    response:
      body:
        string: "{\"total_count\":9,\"check_runs\":[{\"id\":66446302830,\"name\":\"\
          jaxlib-feedstock\",\"node_id\":\"CR_kwDOC7vges8AAAAPeIIebg\",\"head_sha\"\
          :\"73c732d64c89c6295185f8c7809079a0cf01741c\",\"external_id\":\"7112|1482257|84710dde-1620-425b-80d0-4cf5baca359d\"\
          ,\"url\":\"https://api.github.com/repos/conda-forge/jaxlib-feedstock/check-runs/66446302830\"\
          ,\"html_url\":\"https://github.com/conda-forge/jaxlib-feedstock/runs/66446302830\"\
          ,\"details_url\":\"https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_build/results?buildId=1482257\"\
          ,\"status\":\"completed\",\"conclusion\":\"failure\",\"started_at\":\"2026-03-10T08:15:59Z\"\
          ,\"completed_at\":\"2026-03-10T11:40:41Z\",\"output\":{\"title\":\"Build #20260309.3\
          \ failed\",\"summary\":\"[1 errors / 0 warnings](https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_build/results?buildId=1482257)\"\
          ,\"text\":null,\"annotations_count\":0,\"annotations_url\":\"https://api.github.com/repos/conda-forge/jaxlib-feedstock/check-runs/66446302830/annotations\"\
          },\"check_suite\":{\"id\":59886229276},\"app\":{\"id\":9426,\"client_id\"\
          :\"Iv1.3b08983b5115f30d\",\"slug\":\"azure-pipelines\",\"node_id\":\"MDM6QXBwOTQyNg==\"\
          ,\"owner\":{\"login\":\"microsoft\",\"id\":6154722,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjYxNTQ3MjI=\"\
          ,\"avatar_url\":\"https://avatars.githubusercontent.com/u/6154722?v=4\",\"\
          gravatar_id\":\"\",\"url\":\"https://api.github.com/users/microsoft\",\"html_url\"\
          :\"https://github.com/microsoft\",\"followers_url\":\"https://api.github.com/users/microsoft/followers\"\
          ,\"following_url\":\"https://api.github.com/users/microsoft/following{/other_user}\"\
          ,\"gists_url\":\"https://api.github.com/users/microsoft/gists{/gist_id}\"\
          ,\"starred_url\":\"https://api.github.com/users/microsoft/starred{/owner}{/repo}\"\
          ,\"subscriptions_url\":\"https://api.github.com/users/microsoft/subscriptions\"\
          ,\"organizations_url\":\"https://api.github.com/users/microsoft/orgs\",\"\
          repos_url\":\"https://api.github.com/users/microsoft/repos\",\"events_url\"\
          :\"https://api.github.com/users/microsoft/events{/privacy}\",\"received_events_url\"\
          :\"https://api.github.com/users/microsoft/received_events\",\"type\":\"Organization\"\
          ,\"user_view_type\":\"public\",\"site_admin\":false},\"name\":\"Azure Pipelines\"\
          ,\"description\":\"### Continuously build, test, and deploy to any platform\
          \ and cloud\\r\\n\\r\\n[Azure Pipelines](https://azure.microsoft.com/services/devops/pipelines/)\
          \ offers cloud-hosted pipelines for Linux, macOS, and Windows with 10 free\
          \ parallel jobs and unlimited minutes for open source projects.\\r\\n\\r\\\
          n:v: **Any language, platform, and cloud**\\r\\nBuild, test, and deploy Node.js,\
          \ Python, \LJava, PHP, Ruby, Go, C/C++, C#, Android, and i[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/1482257/timeline?api-version=7.1
    response:
      body:
        string:
          '{"records":[{"previousAttempts":[],"id":"531c2f47-32bc-5cf5-c5e5-681bc47fe276","parentId":"4f7d954b-a765-565f-91a2-c04870dab43f","type":"Checkpoint","name":"Checkpoint","refName":"Checkpoint","startTime":"2026-03-09T14:15:22.46Z","finishTime":"2026-03-09T14:15:22.46Z","currentOperation":null,"percentComplete":null,"state":"completed","result":"succeeded","resultCode":null,"changeId":2,"lastModified":"0001-01-01T00:00:00","workerName":null,"details":null,"errorCount":0,"warningCount":0,"url":null,"log":null,"task":null,"attempt":1,"identifier":"Checkpoint"},{"previousAttempts":[],"id":"7603f8a0-a23c-4e28-85a8-e6c209272f5d","parentId":"6e0000ae-4f4d-5159-005c-57b278e2d143","type":"Task","name":"Initialize
          job","refName":"JobExtension_Init","startTime":"2026-03-09T14:15:32.3733333Z","finishTime":"2026-03-09T14:15:33.54Z","currentOperation":null,"percentComplete":null,"state":"completed","result":"succeeded","resultCode":null,"changeId":10,"lastModified":"0001-01-01T00:00:00","workerName":"Azure
          Pipelines 39","order":1,"details":null,"errorCount":0,"warningCount":0,"url":null,"log":{"id":4,"type":"Container","url":"https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/1482257/logs/4"},"task":null,"attempt":1,"identifier":null},{"previousAttempts":[],"id":"ca09227f-3353-5dcb-e260-03f5566eea36","parentId":"6e0000ae-4f4d-5159-005c-57b278e2d143","type":"Task","name":"Obtain
          commit message","refName":"Bash1","startTime":"2026-03-09T14:15:37.3633333Z","finishTime":"2026-03-09T14:15:37.6133333Z","currentOperation":null,"percentComplete":null,"state":"completed","result":"succeeded","resultCode":null,"changeId":11,"lastModified":"0001-01-01T00:00:00","workerName":"Azure
          Pipelines 39","order":3,"details":null,"errorCount":0,"warningCount":0,"url":null,"log":{"id":6,"type":"Container","url":"https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/1482257/logs/6"},"task":{"id":"6c731c3c-3c68-459a-a5c9-bde6e6595b5b","name":"Bash","version":"3.268.1"},"attempt":1,"identifier":null},{"previousAttempts":[],"id":"0d2c4b11-81f7-567a-3289-2c31728ffd67","parentId":"6e0000ae-4f4d-5159-005c-57b278e2d143","type":"Task","name":"Export
          result","refName":"result","startTime":"2026-03-09T14:15:37.63Z","finishTime":"2026-03-09T14:15:37.82Z","currentOperation":null,"percentComplete":null,"state":"completed","result":"succeeded","resultCode":null,"changeId":11,"lastModified":"0001-01-01T00:00:00","workerName":"Azure
          Pipelines 3[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/1482257/logs/25
    response:
      body:
        string: "2026-03-10T11:40:39.8188873Z ##[section]This job was abandoned. We\
          \ have detected that logs from the agent may have not finished uploading.\
          \ We have included our in-memory record of all log lines uploaded before we\
          \ lost contact with the ag[...]
