interactions:
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/pulls/445
    response:
      body:
        string:
          '{"url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/pulls/445","id":1138386526,"node_id":"PR_kwDODfczl85D2mZe","html_url":"https://github.com/conda-forge/cf-autotick-bot-test-package-feedstock/pull/445","diff_url":"https://github.com/conda-forge/cf-autotick-bot-test-package-feedstock/pull/445.diff","patch_url":"https://github.com/conda-forge/cf-autotick-bot-test-package-feedstock/pull/445.patch","issue_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/issues/445","number":445,"state":"open","locked":false,"title":"[TESTING
          DO NOT MERGE] Rerender live test","user":{"login":"jakirkham","id":3019665,"node_id":"MDQ6VXNlcjMwMTk2NjU=","avatar_url":"https://avatars.githubusercontent.com/u/3019665?v=4","gravatar_id":"","url":"https://api.github.com/users/jakirkham","html_url":"https://github.com/jakirkham","followers_url":"https://api.github.com/users/jakirkham/followers","following_url":"https://api.github.com/users/jakirkham/following{/other_user}","gists_url":"https://api.github.com/users/jakirkham/gists{/gist_id}","starred_url":"https://api.github.com/users/jakirkham/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jakirkham/subscriptions","organizations_url":"https://api.github.com/users/jakirkham/orgs","repos_url":"https://api.github.com/users/jakirkham/repos","events_url":"https://api.github.com/users/jakirkham/events{/privacy}","received_events_url":"https://api.github.com/users/jakirkham/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"<!--\r\nThank
          you for your pull request.\r\nBelow are a few things we ask you kindly to
          self-check before getting a review. Remove checks that are not relevant.\r\n-->\r\nChecklist\r\n*
          [ ] Used a [personal fork of the feedstock to propose changes](https://conda-forge.org/docs/maintainer/updating_pkgs.html#forking-and-pull-requests)\r\n*
          [ ] Bumped the build number (if the version is unchanged)\r\n* [ ] Reset the
          build number to `0` (if the version changed)\r\n* [ ] [Re-rendered]( https://conda-forge.org/docs/maintainer/updating_pkgs.html#rerendering-feedstocks
          ) with the latest `conda-smithy` (Use the phrase <code>@<space/>conda-forge-admin,
          please rerender</code> in a comment in this PR for automated rerendering)\r\n*
          [ ] Ensured the license file is being packaged.\r\n\r\n<!--\r\nPlease note
          any issues this fixes using [closing keywords]( https://help.github.com/articles/closing-issues-using-keywords/
          ):\r\n-->\r\n\r\n<!--\r\nPlease add any other relevant info below:\r\n-->\r\n","created_at":"2022-11-29T03:37:14Z","updated_at":"2026-03-19T13:34:23Z","closed_at":null,"merged_at":null,"merge_commit_sha":"2252bbb4ff436d0cecb52ad9dcf4bc3bbbc2b4d1","assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":true,"commits_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/pulls/445/commits","review_comments_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/pulls/445/comments","review_comment_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/pulls/comments{/number}","comments_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/issues/445/comments","statuses_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/statuses/105d76c0fa1d1cbe032e936e92dab2e924aeb096","head":{"label":"conda-forge:rerender-live-test","ref":"rerender-live-test","sha":"105d76c0fa1d1cbe032e936e92dab2e924aeb096","user":{"login":"conda-forge","id":11897326,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExODk3MzI2","avatar_url":"https://avatars.githubusercontent.com/u/11897326?v=4","gravatar_id":"","url":"https://api.github.com/users/conda-forge","html_url":"https://github.com/conda-forge","followers_url":"https://api.github.com/users/conda-forge/followers","following_url":"https://api.github.com/users/conda-forge/following{/other_user}","gists_url":"https://api.github.com/users/conda-forge/gists{/gist_id}","starred_url":"https://api.github.com/users/conda-forge/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/conda-forge/subscriptions","organizations_url":"https://api.github.com/users/conda-forge/orgs","repos_url":"https://api.github.com/users/conda-forge/repos","events_url":"https://api.github.com/users/conda-forge/events{/privacy}","received_events_url":"https://api.github.com/users/conda-forge/received_events","type":"Organization","user_view_type":"public","site_admin":false},"repo":{"id":234304407,"node_id":"MDEwOlJlcG9zaXRvcnkyMzQzMDQ0MDc=","name":"cf-autotick-bot-test-package-feedstock","full_name":"conda-forge/cf-autotick-bot-test-package-feedstock","private":false,"owner":{"login":"conda-forge","id":11897326,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExODk3MzI2","avatar_url":"https://avatars.githubusercontent.com/u/11897326?v=4","gravatar_id":"","url":"https://api.github.com/users/conda-forge","html_url":"https://github.com/conda-forge","followers_url":"https://api.github.com/users/conda-forge/followers","following_url":"https://api.github.com/users/conda-forge/following{/other_user}","gists_url":"https://api.github.com/users/conda-forge/gists{/gist_id}","starred_url":"https://api.github.com/users/conda-forge/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/conda-forge/subscriptions","organizations_url":"https://api.github.com/users/conda-forge/orgs","repos_url":"https://api.github.com/users/conda-forge/repos","events_url":"https://api.github.com/users/conda-forge/events{/privacy}","received_events_url":"https://api.github.com/users/conda-forge/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/conda-forge/cf-autotick-bot-test-package-feedstock","description":"A
          conda-smithy repository for cf-autotick-bot-test-package.","fork":false,"url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock","forks_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/forks","keys_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/keys{/key_id}","collaborators_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/teams","hooks_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/hooks","issue_events_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/issues/events{/number}","events_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/events","assignees_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/assignees{/user}","branches_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/branches{/branch}","tags_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/tags","blobs_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/git/refs{/sha}","trees_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/git/trees{/sha}","statuses_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/statuses/{sha}","languages_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/languages","stargazers_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/stargazers","contributors_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/contributors","subscribers_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/subscribers","subscription_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/subscription","commits_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/commits{/sha}","git_commits_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/git/commits{/sha}","comments_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/comments{/number}","issue_comment_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/issues/comments{/number}","contents_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/contents/{+path}","compare_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/compare/{base}...{head}","merges_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/merges","archive_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/downloads","issues_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/issues{/number}","pulls_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/pulls{/number}","milestones_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/milestones{/number}","notifications_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/labels{/name}","releases_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/releases{/id}","deployments_url":"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/deployments","created_at":"2020-01-16T11:22:29Z","updated_at":"2026-03-19T13:33:49Z","pushed_at":"2026-03-19T13:33:47Z","git_url":"git://github.com/conda-forge/cf-autotick-bot-test-package-feedstock.git","ssh_url":"git@github.com:conda-forge/cf-autotick-bot-test-package-feedstock.git","clone_url":"https://github.com/conda-forge/cf-autotick-bot-test-package-feedstock.git","svn_url":"https://github.com/conda-forge/cf-autotick-bot-test-package-feedstock","homepage":null,"size":7341,"stargazers_count":1,"watchers_count":1,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":12,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":27,"license":{"key":"bsd-3-clause","name":"BSD
          3-Clause \"New\" or \"Revised\" License","spdx_id":"BSD-3-Clause","url":"https://api.github.com/licenses/bsd-3-clause","node_id":"MDc6TGljZW5zZTU="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":12,"open_issues":27,"watchers":1,"default_branch":"main"}},"base":{"label":"conda-forge:main","ref":"main","sha":"b48b1f03a66493776fb74278c1016cb4ca5174ce","user":{"login":"conda-forge","id":11897326,"node_id":"MDEyOk9yZ2FuaXphdGlvbjExODk3MzI2","avatar_url":"https://avatars.githubusercontent.com/u/11897326?v=4","gravatar_id":"","url":"https://api.github.com/users/conda-forge","html_url":"https://github.com/conda-forge","followers_url":"https://api.github.com/users/conda-forge/followers","following_url":"https://api.github.com/users/conda-forge/following{/other[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/commits/105d76c0fa1d1cbe032e936e92dab2e924aeb096/check-runs?page=1&per_page=100
    response:
      body:
        string: "{\"total_count\":5,\"check_runs\":[{\"id\":67748524364,\"name\":\"\
          cf-autotick-bot-test-package-feedstock (Build linux linux_64_python3.13.____cp313)\"\
          ,\"node_id\":\"CR_kwDODfczl88AAAAPxiBxTA\",\"head_sha\":\"105d76c0fa1d1cbe032e936e92dab2e924aeb096\"\
          ,\"external_id\":\"8857|1492074|84710dde-1620-425b-80d0-4cf5baca359d\",\"\
          url\":\"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/check-runs/67748524364\"\
          ,\"html_url\":\"https://github.com/conda-forge/cf-autotick-bot-test-package-feedstock/runs/67748524364\"\
          ,\"details_url\":\"https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_build/results?buildId=1492074\"\
          ,\"status\":\"in_progress\",\"conclusion\":null,\"started_at\":\"2026-03-19T13:33:13Z\"\
          ,\"completed_at\":null,\"output\":{\"title\":null,\"summary\":null,\"text\"\
          :null,\"annotations_count\":0,\"annotations_url\":\"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/check-runs/67748524364/annotations\"\
          },\"check_suite\":{\"id\":61234762451},\"app\":{\"id\":9426,\"client_id\"\
          :\"Iv1.3b08983b5115f30d\",\"slug\":\"azure-pipelines\",\"node_id\":\"MDM6QXBwOTQyNg==\"\
          ,\"owner\":{\"login\":\"microsoft\",\"id\":6154722,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjYxNTQ3MjI=\"\
          ,\"avatar_url\":\"https://avatars.githubusercontent.com/u/6154722?v=4\",\"\
          gravatar_id\":\"\",\"url\":\"https://api.github.com/users/microsoft\",\"html_url\"\
          :\"https://github.com/microsoft\",\"followers_url\":\"https://api.github.com/users/microsoft/followers\"\
          ,\"following_url\":\"https://[...]
[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/commits/105d76c0fa1d1cbe032e936e92dab2e924aeb096/check-runs?page=1&per_page=100
    response:
      body:
        string: "{\"total_count\":5,\"check_runs\":[{\"id\":67749288337,\"name\":\"\
          cf-autotick-bot-test-package-feedstock\",\"node_id\":\"CR_kwDODfczl88AAAAPxiwZkQ\"\
          ,\"head_sha\":\"105d76c0fa1d1cbe032e936e92dab2e924aeb096\",\"external_id\"\
          :\"8857|1492074|84710dde-1620-425b-80d0-4cf5baca359d\",\"url\":\"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/check-runs/67749288337\"\
          ,\"html_url\":\"https://github.com/conda-forge/cf-autotick-bot-test-package-feedstock/runs/67749288337\"\
          ,\"details_url\":\"https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_build/results?buildId=1492074\"\
          ,\"status\":\"completed\",\"conclusion\":\"failure\",\"started_at\":\"2026-03-19T13:32:55Z\"\
          ,\"completed_at\":\"2026-03-19T13:38:01Z\",\"output\":{\"title\":\"Build #20260319.28\
          \ failed\",\"summary\":\"[1 errors / 0 warnings](https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_build/results?buildId=1492074)\"\
          ,\"text\":null,\"annotations_count\":1,\"annotations_url\":\"https://api.github.com/repos/conda-forge/cf-autotick-bot-test-package-feedstock/check-runs/67749288337/annotations\"\
          },\"check_suite\":{\"id\":61234762451},\"app\":{\"id\":9426,\"client_id\"\
          :\"Iv1.3b08983b5115f30d\",\"slug\":\"azure-pipelines\",\"node_id\":\"MDM6QXBwOTQyNg==\"\
          ,\"owner\":{\"login\":\"microsoft\",\"id\":6154722,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjYxNTQ3MjI=\"\
          ,\"avatar_url\":\"https://[...]
