interactions:
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/bun-feedstock/pulls/10
    response:
      body:
        string: "{\n  \"url\": \"https://api.github.com/repos/conda-forge/bun-feedstock/pulls/10\"\
          ,\n  \"id\": 3331026281,\n  \"node_id\": \"PR_kwDORNCujc7Gi21p\",\n  \"html_url\"\
          : \"https://github.com/conda-forge/bun-feedstock/pull/10\",\n  \"diff_url\"\
          : \"https://github.com/conda-forge/bun-feedstock/pull/10.diff\",\n  \"patch_url\"\
          : \"https://github.com/conda-forge/bun-feedstock/pull/10.patch\",\n  \"issue_url\"\
          : \"https://api.github.com/repos/conda-forge/bun-feedstock/issues/10\",\n\
          \  \"commits_url\": \"https://api.github.com/repos/conda-forge/bun-feedstock/pulls/10/commits\"\
          ,\n  \"review_comments_url\": \"https://api.github.com/repos/conda-forge/bun-feedstock/pulls/10/comments\"\
          ,\n  \"review_comment_url\": \"https://api.github.com/repos/conda-forge/bun-feedstock/pulls/comments{/number}\"\
          ,\n  \"comments_url\": \"https://api.github.com/repos/conda-forge/bun-feedstock/issues/10/comments\"\
          ,\n  \"statuses_url\": \"https://api.github.com/repos/conda-forge/bun-feedstock/statuses/59cd7a39b8bde1d1ed5cc1ec5f00b3c438145eee\"\
          ,\n  \"number\": 10,\n  \"state\": \"open\",\n  \"locked\": false,\n  \"title\"\
          : \"bun v1.3.10\",\n  \"user\": {\n    \"login\": \"regro-cf-autotick-bot\"\
          ,\n    \"id\": 36490558,\n    \"node_id\": \"MDQ6VXNlcjM2NDkwNTU4\",\n   \
          \ \"avatar_url\": \"https://avatars.githubusercontent.com/u/36490558?v=4\"\
          ,\n    \"gravatar_id\": \"\",\n    \"url\": \"https://api.github.com/users/regro-cf-autotick-bot\"\
          ,\n    \"html_url\": \"https://github.com/regro-cf-autotick-bot\",\n    \"\
          followers_url\": \"https://api.github.com/users/regro-cf-autotick-bot/followers\"\
          ,\n    \"following_url\": \"https://api.github.com/users/regro-cf-autotick-bot/following{/other_user}\"\
          ,\n    \"gists_url\": \"https://api.github.com/users/regro-cf-autotick-bot/gists{/gist_id}\"\
          ,\n    \"starred_url\": \"https://api.github.com/users/regro-cf-autotick-bot/starred{/owner}{/repo}\"\
          ,\n    \"subscriptions_url\": \"https://api.github.com/users/regro-cf-autotick-bot/subscriptions\"\
          ,\n    \"organizations_url\": \"https://api.github.com/users/regro-cf-autotick-bot/orgs\"\
          ,\n    \"repos_url\": \"https://api.github.com/users/regro-cf-autotick-bot/repos\"\
          ,\n    \"events_url\": \"https://api.github.com/users/regro-cf-autotick-bot/events{/privacy}\"\
          ,\n    \"received_events_url\": \"https://api.github.com/users/regro-cf-autotick-bot/received_events\"\
          ,\n    \"type\": \"User\",\n    \"user_view_type\": \"public\",\n    \"site_admin\"\
          : false\n  },\n  \"body\": \"It is very likely that the current package version\
          \ for this feedstock is out of date.\\n\\nChecklist before merging this PR:\\\
          n- [ ] Dependencies have been updated if changed: see [upstream](https://github.com/oven-sh/bun)\\\
          n- [ ] Tests have passed \\n- [ ] Updated license if changed and `license_file`\
          \ is packaged \\n\\nInformation about this PR:\\n1. Feel free to push to the\
          \ bot's branch to update this PR if needed.\\n2. The bot will almost always\
          \ only open one PR per version.\\n3. The bot will stop issuing PRs if more\
          \ than 3 version bump PRs generated by the bot are open. If you don't want\
          \ to package a particular version please close the PR.\\n4. If you want these\
          \ PRs to be merged automatically, make an issue with <code>@conda-forge-admin,</code>`please\
          \ add bot automerge` in the title and merge the resulting PR. This command\
          \ will add our bot automerge feature to your feedstock.\\n5. If this PR was\
          \ opened in error or needs to be updated please add the `bot-rerun` label\
          \ to this PR. The bot will close this PR and schedule another one. If you\
          \ do not have permissions to add this label, you can use the phrase <code>@<space/>conda-forge-admin,\
          \ please rerun bot</code> in a PR comment to have the `conda-forge-admin`\
          \ add it for you.\\n\\n\\n\\n<sub>This PR was created by the [regro-cf-autotick-bot](https://github.com/regro/cf-scripts).\
          \ The **regro-cf-autotick-bot** is a service to automatically track the dependency\
          \ graph, migrate packages, and propose package version updates for conda-forge.\
          \ Feel free to drop us a line if there are any [issues](https://github.com/regro/cf-scripts/issues)!\
          \ This PR was generated by https://github.com/regro/cf-scripts/actions/runs/22443690161\
          \ - please use this URL for debugging.</sub>\",\n  \"labels\": [],\n  \"milestone\"\
          : null,\n  \"active_lock_reason\": null,\n  \"created_at\": \"2026-02-26T13:27:38Z\"\
          ,\n  \"updated_at\": \"2026-02-26T13:30:08Z\",\n  \"closed_at\": null,\n \
          \ \"merged_at\": null,\n  \"merge_commit_sha\": \"23df4313b000d9ffdbb49addd20d20dd895755af\"\
          ,\n  \"assignee\": null,\n  \"assignees\": [],\n  \"requested_reviewers\"\
          : [\n    {\n      \"login\": \"xhochy\",\n      \"id\": 70274,\n      \"node_id\"\
          : \"MDQ6VXNlcjcwMjc0\",\n      \"avatar_url\": \"https://avatars.githubusercontent.com/u/70274?v=4\"\
          ,\n      \"gravatar_id\": \"\",\n      \"url\": \"https://api.github.com/users/xhochy\"\
          ,\n      \"html_url\": \"https://github.com/xhochy\",\n      \"followers_url\"\
          : \"https://api.github.com/users/xhochy/followers\",\n      \"following_url\"\
          : \"https://api.github.com/users/xhochy/following{/other_user}\",\n      \"\
          gists_url\": \"https://api.github.com/users/xhochy/gists{/gist_id}\",\n  \
          \    \"starred_url\": \"https://api.github.com/users/xhochy/starred{/owner}{/repo}\"\
          ,\n      \"subscriptions_url\": \"https://api.github.com/users/xhochy/subscriptions\"\
          ,\n      \"organizations_url\": \"https://api.github.com/users/xhochy/orgs\"\
          ,\n      \"repos_url\": \"https://api.github.com/users/xhochy/repos\",\n \
          \     \"events_url\": \"https://api.github.com/users/xhochy/events{/privacy}\"\
          ,\n      \"received_events_url\": \"https://api.github.com/users/xhochy/received_events\"\
          ,\n      \"type\": \"User\",\n      \"user_view_type\": \"public\",\n    \
          \  \"site_admin\": false\n    },\n    {\n      \"login\": \"I-Al-Istannen\"\
          ,\n      \"id\": 20284688,\n      \"node_id\": \"MDQ6VXNlcjIwMjg0Njg4\",\n\
          \      \"avatar_url\": \"https://avatars.githubusercontent.com/u/20284688?v=4\"\
          ,\n      \"gravatar_id\": \"\",\n      \"url\": \"https://api.github.com/users/I-Al-Istannen\"\
          ,\n      \"html_url\": \"https://github.com/I-Al-Istannen\",\n      \"followers_url\"\
          : \"https://api.github.com/users/I-Al-Istannen/foll[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/bun-feedstock/commits/59cd7a39b8bde1d1ed5cc1ec5f00b3c438145eee/check-runs?page=1&per_page=100
    response:
      body:
        string: "{\"total_count\":5,\"check_runs\":[{\"id\":64994272868,\"name\":\"\
          bun-feedstock\",\"node_id\":\"CR_kwDORNCujc8AAAAPIfXmZA\",\"head_sha\":\"\
          59cd7a39b8bde1d1ed5cc1ec5f00b3c438145eee\",\"external_id\":\"27383|1472776|84710dde-1620-425b-80d0-4cf5baca359d\"\
          ,\"url\":\"https://api.github.com/repos/conda-forge/bun-feedstock/check-runs/64994272868\"\
          ,\"html_url\":\"https://github.com/conda-forge/bun-feedstock/runs/64994272868\"\
          ,\"details_url\":\"https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_build/results?buildId=1472776\"\
          ,\"status\":\"completed\",\"conclusion\":\"failure\",\"started_at\":\"2026-02-26T13:27:57Z\"\
          ,\"completed_at\":\"2026-02-26T13:30:02Z\",\"output\":{\"title\":\"Build #20260226.1\
          \ failed\",\"summary\":\"[3 errors / 0 warnings](https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_build/results?buildId=1472776)\"\
          ,\"text\":null,\"annotations_count\":3,\"annotations_url\":\"https://api.github.com/repos/conda-forge/bun-feedstock/check-runs/64994272868/annotations\"\
          },\"check_suite\":{\"id\":58673004807},\"app\":{\"id\":9426,\"client_id\"\
          :\"Iv1.3b08983b5115f30d\",\"slug\":\"azure-pipelines\",\"node_id\":\"MDM6QXBwOTQyNg==\"\
          ,\"owner\":{\"login\":\"microsoft\",\"id\":6154722,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjYxNTQ3MjI=\"\
          ,\"avatar_url\":\"https://avatars.githubusercontent.com/u/6154722?v=4\",\"\
          gravatar_id\":\"\",\"url\":\"https://api.github.com/users/microsoft\",\"html_url\"\
          :\"https://github.com/microsoft\",\"followers_url\":\"https://api.github.com/users/microsoft/followers\"\
          ,\"following_url\":\"https://api.github.com/users/microsoft/following{/other_user}\"\
          ,\"gists_url\":\"https://api.github.com/users/microsoft/gists{/gist_id}\"\
          ,\"starred_url\":\"https://api.github.com/users/microsoft/starred{/owner}{/repo}\"\
          ,\"subscriptions_url\":\"https://api.github.com/users/microsoft/subscriptions\"\
          ,\"organizations_url\":\"https://api.github.com/users/microsoft/orgs\",\"\
          repos_url\":\"https://api.github.com/users/microsoft/repos\",\"events_url\"\
          :\"https://api.github.com/users/microsoft/events{/privacy}\",\"received_events_url\"\
          :\"https://api.github.com/users/microsoft/received_events\",\"type\":\"Organization\"\
          ,\"user_view_type\":\"public\",\"site_admin\":false},\"name\":\"Azure Pipelines\"\
          ,\"description\":\"### Continuously build, test, and deploy to any platform\
          \ and cloud\\r\\n\\r\\n[Azure Pipelines](https://azure.microsoft.com/services/devops/pipelines/)\
          \ offers cloud-hosted pipelines for Linux, macOS, and Windows with 10 free\
          \ parallel jobs and unlimited minutes for open source projects.\\r\\n\\r\\\
          n:v: **Any language, platform, and cloud**\\r\\nBuild, test, and deploy Node.js,\
          \ Python, \LJava, PHP, Ruby, Go, C/C++, C#, Android, and i[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/1472776/timeline?api-version=7.1
    response:
      body:
        string:
          '{"records":[{"previousAttempts":[],"id":"3b6d4158-d82b-5d68-d0ae-a5661b4ab8fa","parentId":"4f7d954b-a765-565f-91a2-c04870dab43f","type":"Checkpoint","name":"Checkpoint","refName":"Checkpoint","startTime":"2026-02-26T13:27:51.65Z","finishTime":"2026-02-26T13:27:51.65Z","currentOperation":null,"percentComplete":null,"state":"completed","result":"succeeded","resultCode":null,"changeId":2,"lastModified":"0001-01-01T00:00:00","workerName":null,"details":null,"errorCount":0,"warningCount":0,"url":null,"log":null,"task":null,"attempt":1,"identifier":"Checkpoint"},{"previousAttempts":[],"id":"010ad017-a75b-4f52-9fa8-c94647c6a3f7","parentId":"6e0000ae-4f4d-5159-005c-57b278e2d143","type":"Task","name":"Initialize
          job","refName":"JobExtension_Init","startTime":"2026-02-26T13:28:01.0466667Z","finishTime":"2026-02-26T13:28:02.11Z","currentOperation":null,"percentComplete":null,"state":"completed","result":"succeeded","resultCode":null,"changeId":10,"lastModified":"0001-01-01T00:00:00","workerName":"Azure
          Pipelines 52","order":1,"details":null,"errorCount":0,"warningCount":0,"url":null,"log":{"id":4,"type":"Container","url":"https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/1472776/logs/4"},"task":null,"attempt":1,"identifier":null},{"previousAttempts":[],"id":"ca09227f-3353-5dcb-e260-03f5566eea36","parentId":"6e0000ae-4f4d-5159-005c-57b278e2d143","type":"Task","name":"Obtain
          commit message","refName":"Bash1","startTime":"2026-02-26T13:28:06.6166667Z","finishTime":"2026-02-26T13:28:06.9766667Z","currentOperation":null,"percentComplete":null,"state":"completed","result":"succeeded","resultCode":null,"changeId":11,"lastModified":"0001-01-01T00:00:00","workerName":"Azure
          Pipelines 52","order":3,"details":null,"errorCount":0,"warningCount":0,"url":null,"log":{"id":6,"type":"Container","url":"https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/1472776/logs/6"},"task":{"id":"6c731c3c-3c68-459a-a5c9-bde6e6595b5b","name":"Bash","version":"3.268.1"},"attempt":1,"identifier":null},{"previousAttempts":[],"id":"0d2c4b11-81f7-567a-3289-2c31728ffd67","parentId":"6e0000ae-4f4d-5159-005c-57b278e2d143","type":"Task","name":"Export
          result","refName":"result","startTime":"2026-02-26T13:28:06.99Z","finishTime":"2026-02-26T13:28:07.33Z","currentOperation":null,"percentComplete":null,"state":"completed","result":"succeeded","resultCode":null,"changeId":11,"lastModified":"0001-01-01T00:00:00","workerName":"Azure
          Pipelines 5[...]
[...]
