interactions:
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/staged-recipes/pulls/32631
    response:
      body:
        string:
          '{"url":"https://api.github.com/repos/conda-forge/staged-recipes/pulls/32631","id":3412197681,"node_id":"PR_kwDOAn5EZM7LYgEx","html_url":"https://github.com/conda-forge/staged-recipes/pull/32631","diff_url":"https://github.com/conda-forge/staged-recipes/pull/32631.diff","patch_url":"https://github.com/conda-forge/staged-recipes/pull/32631.patch","issue_url":"https://api.github.com/repos/conda-forge/staged-recipes/issues/32631","number":32631,"state":"open","locked":false,"title":"Adding
          ESMBenchmarkViz package","user":{"login":"kristinchang3","id":143142064,"node_id":"U_kgDOCIgssA","avatar_url":"https://avatars.githubusercontent.com/u/143142064?v=4","gravatar_id":"","url":"https://api.github.com/users/kristinchang3","html_url":"https://github.com/kristinchang3","followers_url":"https://api.github.com/users/kristinchang3/followers","following_url":"https://api.github.com/users/kristinchang3/following{/other_user}","gists_url":"https://api.github.com/users/kristinchang3/gists{/gist_id}","starred_url":"https://api.github.com/users/kristinchang3/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kristinchang3/subscriptions","organizations_url":"https://api.github.com/users/kristinchang3/orgs","repos_url":"https://api.github.com/users/kristinchang3/repos","events_url":"https://api.github.com/users/kristinchang3/events{/privacy}","received_events_url":"https://api.github.com/users/kristinchang3/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"<!--\r\nThank
          you very much for putting in this recipe PR!\r\n\r\nThis repository is very
          active, so if you need help with a PR, please let the\r\nright people know.
          There are language-specific teams for reviewing recipes.\r\n\r\n| Language        |
          Name of review team           |\r\n| --------------- | -----------------------------
          |\r\n| c/c++           | `@conda-forge/help-c-cpp`     |\r\n| go              |
          `@conda-fo[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/staged-recipes/commits/68bbe009a9020b5ae09a7b156d3abc34d0620740/check-runs?page=1&per_page=100
    response:
      body:
        string: "{\"total_count\":6,\"check_runs\":[{\"id\":67613315145,\"name\":\"\
          staged-recipes (Build win_64 win)\",\"node_id\":\"CR_kwDOAn5EZM8AAAAPvhFQSQ\"\
          ,\"head_sha\":\"68bbe009a9020b5ae09a7b156d3abc34d0620740\",\"external_id\"\
          :\"2259|1491203|84710dde-1620-425b-80d0-4cf5baca359d\",\"url\":\"https://api.github.com/repos/conda-forge/staged-recipes/check-runs/67613315145\"\
          ,\"html_url\":\"https://github.com/conda-forge/staged-recipes/runs/67613315145\"\
          ,\"details_url\":\"https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_build/results?buildId=1491203&view=logs&jobId=53c3d5f4-e7c7-5b53-4b94-211701b2ba17\"\
          ,\"status\":\"completed\",\"conclusion\":\"success\",\"started_at\":\"2026-03-18T16:48:00Z\"\
          ,\"completed_at\":\"2026-03-18T16:54:52Z\",\"output\":{\"title\":\"Build win_64\
          \ win succeeded\",\"summary\":\"[0 errors / 0 warnings](https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_build/results?buildId=1491203)\"\
          ,\"text\":null,\"annotations_count\":0,\"annotations_url\":\"https://api.github.com/repos/conda-forge/staged-recipes/check-runs/67613315145/annotations\"\
          },\"check_suite\":{\"id\":61111052337},\"app\":{\"id\":9426,\"client_id\"\
          :\"Iv1.3b08983b5115f30d\",\"slug\":\"azure-pipelines\",\"node_id\":\"MDM6QXBwOTQyNg==\"\
          ,\"owner\":{\"login\":\"microsoft\",\"id\":6154722,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjYxNTQ3MjI=\"\
          ,\"avatar_url\":\"https://avatars.githubusercontent.com/u/6154722?v=4\",\"\
          gravatar_id\":\"\",\"url\":\"https://api.github.com/users/microsoft\",\"html_url\"\
          :\"https://github.com/microsoft\",\"followers_url\":\"https://api.github.com/users/microsoft/followers\"\
          ,\"following_url\":\"https://api.github.com/users/microsoft/following{/other_user}\"\
          ,\"gists_url\":\"https://api.github.com/users/microsoft/gists{/gist_id}\"\
          ,\"starred_url\":\"https://api.github.com/users/microsoft/starred{/owner}{/repo}\"\
          ,\"subscriptions_url\":\"https://api.github.com/users/microsoft/subscriptions\"\
          ,\"organizations_url\":\"https://api.github.com/users/microsoft/orgs\",\"\
          repos_url\":\"https://api.github.com/users/microsoft/repos\",\"events_url\"\
          :\"https://api.github.com/users/microsoft/events{/privacy}\",\"received_events_url\"\
          :\"https://api.github.com/users/microsoft/received_events\",\"type\":\"Organization\"\
          ,\"user_view_type\":\"public\",\"site_admin\":false},\"name\":\"Azure Pipelines\"\
          ,\"description\":\"### Continuously build, test, and deploy to any platform\
          \ and cloud\\r\\n\\r\\n[Azure Pipelines](https://azure.microsoft.com/services/devops/pipelines/)\
          \ offers cloud-hosted pipelines for Linux, macOS, and Windows with 10 free\
          \ parallel jobs and unlimited minutes for open source projects.\\r\\n\\r\\\
          n:v: **Any language, platform, and cloud**\\r\\nBuild, test, and deploy Node.js,\
          \ Python, \LJava, PHP, Ruby, Go, C/C++, C#, Android, and i[...]
[...]
  - request:
      body: ""
      headers: {}
      method: GET
      uri: https://api.github.com/repos/conda-forge/staged-recipes/commits/68bbe009a9020b5ae09a7b156d3abc34d0620740/check-runs?page=1&per_page=100
    response:
      body:
        string: "{\"total_count\":6,\"check_runs\":[{\"id\":67614618318,\"name\":\"\
          staged-recipes\",\"node_id\":\"CR_kwDOAn5EZM8AAAAPviUyzg\",\"head_sha\":\"\
          68bbe009a9020b5ae09a7b156d3abc34d0620740\",\"external_id\":\"2259|1491203|84710dde-1620-425b-80d0-4cf5baca359d\"\
          ,\"url\":\"https://api.github.com/repos/conda-forge/staged-recipes/check-runs/67614618318\"\
          ,\"html_url\":\"https://github.com/conda-forge/staged-recipes/runs/67614618318\"\
          ,\"details_url\":\"https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_build/results?buildId=1491203\"\
          ,\"status\":\"completed\",\"conclusion\":\"success\",\"started_at\":\"2026-03-18T16:47:22Z\"\
          ,\[...]
